---
---

<header class="terminal-header">
  <div class="terminal-button red-button"></div>
  <div class="terminal-button yellow-button"></div>
  <div class="terminal-button green-button"></div>
</header>

<style>
  .terminal-header {
    background: #E0E8F0;
    height: 30px;
    border-radius: 8px 8px 0 0;
    padding-left: 10px;
    display: flex;
    align-items: center;
  }

  .terminal-button {
    width: 12px;
    height: 12px;
    margin-right: 8px;
    display: inline-block;
    border-radius: 8px;
  }

  .red-button {
    background: #DD373B;
  }

  .yellow-button {
    background: #F6AE24;
  }

  .green-button {
    background: #33D234;
  }
</style>